<!doctype html>
<html lang=''>


   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/style.css  " type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    

<body>
   <div class="topnav">
    <a  href="/"  class="text-white  h1 active">Complain Box</a>
      <!-- <div class="topnav-right">
        <a href="register">SignUp</a>
        <a href="login">Login</a>
      </div> -->
    </div>
    <div class="verticalnav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/studentlogin">Student</a></li>
       
      </ul>
    </div>

   <div id='cssmenu' style="margin-left:25%;margin-top:50px;padding:1px 16px;height:1000px;">
    <div>
      
      <div >
        
      <img class="circular--square" width="200" 
      height="200" src="image/<%= files.filename %>" alt="Avatar">
                
      </div>
      
      <div>
        <h1><%= name %></h1><br>
      <ul>
         <li><%= email %></li>
         <li><%= registration %></li>
         
       </ul><br>
         <a class="btn4 btn-success float-right" href='/addcomplain'>Add Complain</a>
         <a class="btn4 btn5 btn-success float-right" href='/logout'>  Log Out</a>
         <a class="btn4  btn-success float-right" href='/changepassword'>Edit Password</a><br><br>
      <hr>
      </div>
   </div>

   <div class="container" >

      
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<html>